@font-face {
  font-family: 'cocogooselight';
  src: url('fonts/cocogoose_pro_light-trial-webfont.woff2') format('woff2'),
       url('fonts/cocogoose_pro_light-trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
    font-family: 'cocogooselight', 'Nunito';
}

.number {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .carousel-inner {
    height: 700px;
}
}

@media (min-width: 992px){
  #mainNav {
    background: linear-gradient(white 1%, transparent);
  }
}


@media (min-width: 992px) {
  #mainNav .nav-link {
    padding: 1rem 1.5rem;
  }
}


#mainNav.navbar-shrink {
  background-color: #fff;
  background: white;
}

#mainNav .navbar-brand {
  padding: 0;
}

#mainNav .navbar-toggler {
  color: #c07c6c;
  border: 1px solid #c07c6c;
}

.navbar-nav {
    align-items: center;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: #cc9c94;
}


.contact-section {
    padding-bottom: 5rem;
    /* background-color: #ffe4c9; */

}
.footer {
    background-color: #c07c6c; 
    /* #cc9c94 #c88a7d*/
    padding: 1.5rem;
}

.social a {
    color: white;
    font-size: 20px;
}


.social a:hover {
    color: #efd6bd;

}

#mainNav {
  background-color: transparent;
}

#mainNav.navbar-shrink .nav-link.active {
    color: #c07c6c;
    border-bottom: none;
}

#mainNav.navbar-shrink .nav-link:hover, .nav-item .nav-link:focus {
    color: #c07c6c; 
}

@media (min-width: 992px) {
  #mainNav .nav-link {
  color:black;
  }
}

@media (min-width: 992px) {
  #mainNav.navbar-shrink .nav-link {
    padding: 0 20px;  
  }
}


.navlink img {
  padding: 0 20px;
}

.about-section {
  background:#fffaf6 !important;
}

.projects-section {
  padding: 5rem 0;
}

@media (min-width: 992px) {
.projects-section .featured-text {
    border-left: 0.5rem solid #efd6bd;
}
}

@media (min-width: 992px) {
  .tagline {
    margin-top: 10rem;
  }
}

.about-section p {
  margin-top: 5rem;
  margin-bottom: 0rem;
}

.whoweare p {
  font-size: 14px;
}


.projects-section project-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 4rem;
    padding-bottom: 0;
  }
}


.btn {
  padding: 0.5rem 0.75rem;
}

.btn-casca {
  border: 1px solid #c07c6c; 
  background-color: white;
  color: #c07c6c; 
  font-family: 'cocogooselight', 'Nunito';
  
}

.btn-casca:hover, .btn-casca:active {
  border: 1px solid #c07c6c; 
  background-color: #c07c6c; 
  color: white; 
}

.accordion-flush {
  background-color: none;
}

.accordion-button {
  /* font-size: 14px; */
  padding: 0.5rem 0;
}

.accordion-button::after {
  background-size: 1rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  color: black;
}

@media (min-width: 992px) {
  .treatment-section {
    padding: 15rem 0;
  }
}

@media (min-width: 992px) {
  .pertreatment-section {
    padding: 15rem 0;
  }
}

.treatment {
  padding: 3rem;
}

.treatment h4 {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.accordion-button {
  font-size: 14px;
}

.accordion-body {
  font-size: 13px;
}

.accordion-flush .accordion-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-flush .accordion-item:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}