@font-face {
  font-family: "cocogooselight";
  src: url("fonts/cocogoose_pro_light-trial-webfont.woff2") format("woff2"),
    url("fonts/cocogoose_pro_light-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "cocogooselight", "Trebuchet MS";
}

#page__container {
  position: relative;
  min-height: calc(100vh - 9.5rem);
}

h4 {
  font-size: 16px;
}

.number {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

#mainNav.navbar-shrink {
  background-color: #fff;
  background: white;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}

#mainNav .navbar-brand {
  padding: 0;
}

#mainNav .navbar-toggler {
  color: #c07c6c;
  border: 1px solid #c07c6c;
}

.navbar-nav {
  align-items: center;
}

.reservation--button {
  position: absolute;
  right: 40px;
  /* border: 1px solid white; */
  background-color: white;
  /* background: linear-gradient(90deg, rgba(200,138,125,1) 81%, rgba(255,255,255,1) 100%); */
  background-color: #c07c6c;
  /* color: #c07c6c; */
  color: white;
  font-family: "cocogooselight", "Nunito";
  box-shadow: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.reservation--button:hover,
.reservation--button:active {
  border: 1px solid #c07c6c;
  background-color: transparent;
  color: #c07c6c;
}

.treatmentlink {
  text-decoration: none;
  color: black;
}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: #cc9c94;
}

.contact-section {
  padding-bottom: 5rem;
}

.footer {
  background-color: #c07c6c;
  height: 9.5rem;
  padding: 1.5rem;
  position: absolute;
  /* bottom: 0; */
  width: 100%;
}

.social a {
  color: white;
  font-size: 20px;
}

.social a:hover {
  color: #efd6bd;
}

#mainNav {
  background-color: transparent;
}

#mainNav.navbar-shrink .nav-link.active {
  color: #c07c6c;
  border-bottom: none;
}

#mainNav.navbar-shrink .nav-link:hover,
.nav-item .nav-link:focus {
  color: #c07c6c;
}

.navlink img {
  padding: 0 20px;
}

CAROUSEL .carousel-control-prev {
  width: 5%;
}

.carousel-control-next {
  width: 5%;
}

.promotion {
  /* position: absolute !important; */
  /* top: 150px; */
  color: white;
  width: 100%;
}

.promotion--title {
  /* margin-top: 150px; */
  /* background-color: #fbf1ef; */
  margin-top: 15vw;
  margin-left: 5px;
  margin-bottom: -4vw;
  padding: 5px 0;
  color: white;
  padding: 5px 0;
  /* margin-left: 3vw; */
  font-size: 2.8vw;
  font-weight: 600;
}

.discount {
  position: absolute;
  top: 26vw;
  right: 26vw;
  font-size: 3vw;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(158, 158, 158);
}

.discount-number {
  font-weight: 800;
  font-size: 14vw;
  margin-left: 14vw;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.percent {
  width: 6vw;
  height: 6vw;
  background-color: #cc9c94;
  position: absolute;
  border-radius: 50%;
  bottom: 12vw;
  right: 5vw;
  font-size: 4vw;
}

.promotion--desc {
  font-size: 2vw;
  margin-left: 15vw;
  margin-top: -3vw;
}

/* TREATMENTS */
.projects-section {
  padding: 1rem 0;
}

.treatments-image {
  height: 300px;
}

.treatments-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* TESTIMONI */

.testimoni-section {
  background-color: white;
}

.testi-photo {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.testi-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INSTAGRAM  */

.instagram__container {
  max-width: 800px;
}

.instagram-section {
  background-color: #fbf1ef;
}

/* ABOUT US */
.masthead {
  background: url("/assets/img/5589238.jpg") !important;
}

.about-section,
.instagram-section,
.testimoni-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-section {
  background-size: cover;
}

.about-us-section {
  padding: 3rem 1rem;
}

/* @media (min-width: 992px) {
  .about-section{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
} */

.tagline {
  /* position: relative; */
  width: 100vw;
  height: auto;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.tagline-small {
  font-size: 4rem;
  position: relative;
}

.text-tagline {
  font-size: 6rem;
  color: #e8c4a2;
  text-shadow: 1px 1px 2px #efd6bd;
}

.about-section p {
  margin-top: 5rem;
  margin-bottom: 0rem;
}

.whoweare p {
  font-size: 14px;
}

/* TREATMENT PAGE */

.treatment-image__container {
  height: 400px;
}

.treatment-image__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.projects-section .project-text {
  padding: 1rem;
}

.btn {
  padding: 0.5rem 0.75rem;
}

.btn-casca {
  border: 1px solid #c07c6c;
  background-color: white;
  color: #c07c6c;
  font-family: "cocogooselight", "Nunito";
}

.btn-casca:hover,
.btn-casca:active {
  border: 1px solid #c07c6c;
  background-color: #c07c6c;
  color: white;
}

.accordion-flush {
  background-color: none;
}

.accordion-button {
  /* font-size: 14px; */
  padding: 0.5rem 0;
}

.accordion-button::after {
  background-size: 1rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: white;
  color: black;
}

.treatment-section {
  padding-bottom: 3rem;
}

.treatment h4 {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.accordion-button {
  font-size: 14px;
}

.accordion-body {
  font-size: 13px;
}

.accordion-flush .accordion-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-flush .accordion-item:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* FIND US */
.instagram-media {
  min-width: none;
}

@media (min-width: 992px) {
  #mainNav {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background: linear-gradient(rgba(255, 255, 255, 1) 1%, transparent);
  }

  #mainNav .nav-link {
    padding: 1rem 1.5rem;
  }

  #mainNav .nav-link {
    color: black;
  }

  #mainNav .nav-link:active,
  #mainNav .nav-link:hover {
    color: #c07c6c;
  }

  #mainNav.navbar-shrink .nav-link {
    padding: 0 20px;
  }

  /* .carousel-inner {
    height: 
  } */

  .projects-section {
    padding: 3rem 0;
  }

  .about-us-section .featured-text {
    padding: 0 2rem;
    border-left: 0.5rem solid #efd6bd;
  }

  .flip-order {
    order: -1;
  }

  .projects-section .project-text {
    padding: 3rem;
    padding-bottom: 0;
  }

  .treatment-section {
    padding: 15rem 0;
  }

  .treatment {
    padding: 3rem;
  }

  .pertreatment-section {
    padding: 15rem 0;
    padding-bottom: 10rem;
  }

  .visit {
    padding: 0 5rem;
  }
}

@media (max-width: 991px) {
  .navbar-nav {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .contact-section {
    padding: 3rem 0;
  }

  .tagline {
    height: 250px;
  }
  .text-tagline {
    font-size: 4rem;
  }

  .tagline-small {
    font-size: 3rem;
  }

  .projects-section {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  .treatment-image__container {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .treatments-image {
    height: 190px;
  }
}

@media (min-width: 577px) {
  .discount {
    top: 25.5vw;
    right: 25vw;
  }

  .percent {
    bottom: 9vw;
  }
}
